.TabSection-container img {
  max-width: 100%;
}


.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.list
.list-1 {
  background-color: red !important;
}