* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  
    font-family: "Rubik", sans-serif;
}


body {
  font-size: 1.125em;
}

:root {
  --Blue-600: hsl(231, 69%, 60%);
  --Red-400: hsl(0, 94%, 66%);
  --Grey-50: hsl(0, 0%, 97%);
  --Blue-950: hsl(229, 31%, 21%);
}

img {
  max-width: 100%;
}


button {
  font-size: .7em !important;
  padding: .5em  !important; 
}

 
#btn-row  >  div button, #btn-row  >  button{
  height: 40px;
}

/* tab-container */

.navegation-tab  {
  position: relative;
  }

#tab-container div button {
  padding: 1em 0;
}


/* voucher-cards */


.card {
  width: 250px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em 0;
  background-image: url(./assets/images/bg-dots.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.card .card-content {
  padding: 2em 0;
}

.card h3 {
  font-size: 1.5em;
}

.card img {
  width: 50%;
}

#navegation-Bar {
  background-color: var(--Blue-950) ;
  opacity: .97;
}

#navegation-Bar > ul  li{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navegation-Bar > ul { 
  width: 77%;
}

#navegation-Bar > ul > li  {
  position: relative;
 margin: 0.7em 0;
 padding-top: .7em;
  text-transform: uppercase;
  color: #fff;
}

#navegation-Bar ul  div  {
  margin-top: 2em ;
  width: 100%;
}

#navegation-Bar li button {
  padding: 1.1em 0;
  margin-top: 2em;
  background-color: transparent;
  min-width: 105%;
  height: 45px;
  outline: 2px solid #fff;
  border: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
}


#navegation-Bar > ul  li:nth-of-type(1):after, 
#navegation-Bar > ul  li:nth-of-type(3):after {
  content: '';
  display: block;
  position: absolute;
  top: 3em;
  left: .5em;
  
  width: 95%;
  height: 1px;
  background-color: antiquewhite;
  opacity: .5;
}

#navegation-Bar > ul  li:nth-of-type(3):after {
  top: -.5em;
}


#navegation-Bar > ul  li:nth-of-type(1)::before,
 #navegation-Bar > ul  li:nth-of-type(3)::before{
  content: '';
  display: block;
  position: absolute;
  top: -0.7em;
  left: .5em;
  
  opacity: .5;
  width: 95%;
  height: 1px;
  background-color: antiquewhite;
}


 #navegation-Bar > ul  li:nth-of-type(3)::before {
  top: 3.2em;
 }

.tab {
  position: relative;
  color: #000 !important;
}



.tab.active::after {
  content: '';
  position: absolute;
  bottom:-19px;
  left:25%;
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--Red-400);  
}

.tab:hover {
  color: var(--Red-400) !important;
}




.dots {
  position: relative;
  top: -15px;
}




@media (min-width: 1200px) {
  
.navegation-tab  {
  position: relative;
  width: 50%;
  border-bottom : 1px solid grey;
}

.tab.active::after {
  bottom:-19px;
  left:0;
  width: 100%;
}

.tab:nth-of-type(2) {
   position: relative;
   left: -1em;
}


#tab-container div button {
  padding: 1em 0;
}

.navegation-tab hr {
  display: none;
}

.card {
  width: 275px;
  height: 325px;
  margin: 2em 1em;
}

.card button {
  height: 40px;
  margin-bottom: -2em;
}

.card img {
  width: 75%;
}

.card:nth-child(2) {
  margin-top: 5em;
}

.card:nth-child(3) {
  margin-top: 10em;
}

#desk-nav  button{
   width: 145px;
   height: 45px;
   border: none;
   outline: none;
   border-radius: 7px;
   background-color: var(--Red-400);
   text-transform: uppercase;
   color:#fff;
   letter-spacing: 2px;
   font-size: .8em !important;
}

}


