@import "tailwindcss";


@theme {
  --font-Rubik:"Rubik", sans-serif;
  --text-normal-1:  1.125em;
  --color-Blue-600: hsl(231, 69%, 60%);
  --color-Red-400: hsl(0, 94%, 66%);
  --color-Grey-50: hsl(0, 0%, 97%);
  --color-Blue-950: hsl(229, 31%, 21%);
  --color-blue-t-950: #252b46e9;
}


.navbar {
  position: relative;
}


.line:nth-of-type(4) {
 display: none;
 visibility: hidden;
}

li:nth-of-type(4) {
  margin-top: 1em;
  display:flex;
  flex-direction: column;
  justify-content:center;
  border: 1px solid  #f7f7f7 ;
  border-radius: 7px;
  height: 47px;
}

li:hover:nth-of-type(4) {
  background: #fff;
color: hsl(229, 31%, 21%);
}



button img  {
  cursor: pointer;
}

button > img:hover {
opacity: 0.5;
}